/* ===========================
Index Of css
========================== */
/*======================================
    Variables
========================================*/
/*======================================
    Normalize CSS
========================================*/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Spartan', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #6e657e;
  overflow-x: hidden;
  font-size: 14px;
}

p {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.navbar-toggler:focus,
a:focus,
input:focus,
textarea:focus,
button:focus,
.btn:focus,
.btn.focus,
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
  text-decoration: none;
  outline: none;
}

span,
a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0px;
  color: #081828;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-105 {
  margin-top: 105px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-115 {
  margin-top: 115px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-125 {
  margin-top: 125px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-135 {
  margin-top: 135px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-145 {
  margin-top: 145px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-155 {
  margin-top: 155px;
}

.mt-160 {
  margin-top: 160px;
}

.mt-165 {
  margin-top: 165px;
}

.mt-170 {
  margin-top: 170px;
}

.mt-175 {
  margin-top: 175px;
}

.mt-180 {
  margin-top: 180px;
}

.mt-185 {
  margin-top: 185px;
}

.mt-190 {
  margin-top: 190px;
}

.mt-195 {
  margin-top: 195px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-205 {
  margin-top: 205px;
}

.mt-210 {
  margin-top: 210px;
}

.mt-215 {
  margin-top: 215px;
}

.mt-220 {
  margin-top: 220px;
}

.mt-225 {
  margin-top: 225px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-105 {
  margin-bottom: 105px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-115 {
  margin-bottom: 115px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-125 {
  margin-bottom: 125px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-135 {
  margin-bottom: 135px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-145 {
  margin-bottom: 145px;
}

.mb-150 {
  margin-bottom: 150px;
}

.mb-155 {
  margin-bottom: 155px;
}

.mb-160 {
  margin-bottom: 160px;
}

.mb-165 {
  margin-bottom: 165px;
}

.mb-170 {
  margin-bottom: 170px;
}

.mb-175 {
  margin-bottom: 175px;
}

.mb-180 {
  margin-bottom: 180px;
}

.mb-185 {
  margin-bottom: 185px;
}

.mb-190 {
  margin-bottom: 190px;
}

.mb-195 {
  margin-bottom: 195px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mb-205 {
  margin-bottom: 205px;
}

.mb-210 {
  margin-bottom: 210px;
}

.mb-215 {
  margin-bottom: 215px;
}

.mb-220 {
  margin-bottom: 220px;
}

.mb-225 {
  margin-bottom: 225px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-105 {
  padding-top: 105px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-125 {
  padding-top: 125px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-135 {
  padding-top: 135px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-145 {
  padding-top: 145px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-155 {
  padding-top: 155px;
}

.pt-160 {
  padding-top: 160px;
}

.pt-165 {
  padding-top: 165px;
}

.pt-170 {
  padding-top: 170px;
}

.pt-175 {
  padding-top: 175px;
}

.pt-180 {
  padding-top: 180px;
}

.pt-185 {
  padding-top: 185px;
}

.pt-190 {
  padding-top: 190px;
}

.pt-195 {
  padding-top: 195px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-205 {
  padding-top: 205px;
}

.pt-210 {
  padding-top: 210px;
}

.pt-215 {
  padding-top: 215px;
}

.pt-220 {
  padding-top: 220px;
}

.pt-225 {
  padding-top: 225px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-105 {
  padding-bottom: 105px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-115 {
  padding-bottom: 115px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-125 {
  padding-bottom: 125px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-135 {
  padding-bottom: 135px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-145 {
  padding-bottom: 145px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-155 {
  padding-bottom: 155px;
}

.pb-160 {
  padding-bottom: 160px;
}

.pb-165 {
  padding-bottom: 165px;
}

.pb-170 {
  padding-bottom: 170px;
}

.pb-175 {
  padding-bottom: 175px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pb-185 {
  padding-bottom: 185px;
}

.pb-190 {
  padding-bottom: 190px;
}

.pb-195 {
  padding-bottom: 195px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pb-205 {
  padding-bottom: 205px;
}

.pb-210 {
  padding-bottom: 210px;
}

.pb-215 {
  padding-bottom: 215px;
}

.pb-220 {
  padding-bottom: 220px;
}

.pb-225 {
  padding-bottom: 225px;
}

.img-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
}

/* Bread Crumbs */
.breadcrumbs {
  background-color: #081828;
  position: relative;
  padding: 100px 0;
  padding-top: 180px;
}

.breadcrumbs .breadcrumbs-content {
  position: relative;
  text-align: center;
}

.breadcrumbs .breadcrumbs-content p {
  color: #fff;
  font-size: 14px;
  margin-top: 20px;
}

.breadcrumbs .breadcrumbs-content .page-title {
  font-size: 35px;
  color: #fff;
  font-weight: 500;
  position: relative;
  padding-bottom: 22px;
  line-height: 50px;
}

.breadcrumbs .breadcrumbs-content .page-title:before {
  position: absolute;
  content: '';
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 80px;
  background: #3763eb;
  margin-left: -40px;
}

.breadcrumbs .breadcrumbs-content .breadcrumb-nav {
  background: transparent;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0;
  display: inline-block;
}

.breadcrumbs .breadcrumb-nav {
  text-align: center;
  margin-top: 50px;
}

.breadcrumbs .breadcrumb-nav li {
  display: inline-block;
}

.breadcrumbs .breadcrumb-nav li,
.breadcrumbs .breadcrumb-nav li a {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.breadcrumbs .breadcrumb-nav li a {
  padding-right: 15px;
  margin-right: 15px;
  position: relative;
}

.breadcrumbs .breadcrumb-nav li a:hover {
  color: #3763eb;
}

.breadcrumbs .breadcrumb-nav li a:after {
  content: '';
  height: 80%;
  width: 2px;
  background-color: #fff;
  position: absolute;
  top: 2px;
  right: 0;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

/* Section Title */
.section-title {
  text-align: center;
  margin-bottom: 80px;
  padding: 0 300px;
  position: relative;
  z-index: 5;
}

.section-title span {
  text-transform: uppercase;
  color: #3763eb;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
}

.section-title h2 {
  font-size: 33px;
  margin-bottom: 18px;
  line-height: 50px;
  text-transform: capitalize;
  position: relative;
  font-weight: 700;
  padding-bottom: 14px;
}

.section-title h2:before {
  position: absolute;
  left: 50%;
  margin-left: -25px;
  bottom: -1px;
  height: 2px;
  width: 50px;
  background: #3763eb;
  content: '';
}

.section-title p {
  font-size: 14px;
  line-height: 24px;
}

.section-title.white-text h2 {
  color: #fff;
}

.section-title.white-text h2::before {
  background-color: #fff;
}

.section-title.white-text span {
  color: #fff;
}

.section-title.white-text p {
  color: #fff;
}

.section-title.align-right {
  padding: 0;
  padding-left: 600px;
}

.section-title.align-right h2:before {
  display: none;
}

.section-title.align-right h2:after {
  position: absolute;
  right: 0;
  bottom: -1px;
  height: 2px;
  width: 50px;
  background: #3763eb;
  content: '';
}

.section-title.align-left {
  padding: 0;
  padding-right: 600px;
}

.section-title.align-left h2:before {
  left: 0;
  margin-left: 0;
}

/* One Click Scrool Top Button*/
.scroll-top {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #3763eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  color: #fff !important;
  border-radius: 0;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border-radius: 50%;
  border: none;
}

.scroll-top:hover {
  -webkit-box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
  box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
}

/* Overlay */
.overlay {
  position: relative;
}

.overlay::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: #081828;
  content: '';
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 5;
}

/* Pagination CSS */
.pagination {
  text-align: left;
  margin: 65px 0 0 0;
  display: block;
}

.pagination.center {
  text-align: center;
}

.pagination.right {
  text-align: right;
}

.pagination .pagination-list {
  display: inline-block;
  border: 1px solid #eee;
  -webkit-box-shadow: 0 10px 30px rgba(111, 111, 111, 0.1);
  box-shadow: 0 10px 30px rgba(111, 111, 111, 0.1);
}

.pagination .pagination-list li {
  margin-right: -5px;
  display: inline-block;
}

.pagination .pagination-list li:last-child {
  margin-right: 0px;
}

.pagination .pagination-list li a {
  background: #fff;
  color: #081828;
  padding: 0 22px;
  font-weight: 500;
  font-size: 13px;
  border-radius: 0;
  line-height: 40px;
}

.pagination .pagination-list li.active a,
.pagination .pagination-list li:hover a {
  background: #3763eb;
  color: #fff;
  border-color: transparent;
}

.pagination .pagination-list li a i {
  font-size: 20px;
}

.pagination .pagination-list li a i {
  font-size: 14px;
}

.blog-grids.pagination {
  margin-top: 50px;
  text-align: center;
}

.button .btn {
  display: inline-block;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  background-color: #3763eb;
  color: #fff;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 30px;
}

.button .btn:hover {
  background-color: #081828;
  color: #fff;
  -webkit-box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
  box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
}

.button .btn-alt {
  background-color: #081828;
  color: #fff;
}

.button .btn-alt:hover {
  background-color: #3763eb;
  color: #fff;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}

.preloader-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.preloader-icon {
  width: 100px;
  height: 100px;
  display: inline-block;
  padding: 0px;
}

.preloader-icon span {
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #3763eb;
  -webkit-animation: preloader-fx 1.6s linear infinite;
  animation: preloader-fx 1.6s linear infinite;
}

.preloader-icon span:last-child {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
}

@keyframes preloader-fx {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes preloader-fx {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}

/* Demos Area */
/* .demo-area {
  position: relative;
  background: #f6f9fc;
  overflow: hidden;
}

.demo-area .demo-inner {
  height: 700px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 3;
}

.demo-area .demo-inner::before {
  position: absolute;
  content: '';
  right: 0;
  width: 50%;
  background-image: url(../images/demo/demo-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0;
  height: 100%;
  top: -100px;
  z-index: 1;
  border-radius: 0;
  border-radius: 0%;
  height: 800px;
  width: 800px;
  right: -135px;
  z-index: -1;
}

.demo-area .demo-text {
  float: none;
  margin-top: 220px;
}

.demo-area .demo-text h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 25px;
}

.demo-area .demo-text h1 span {
  font-weight: 300;
}

.demo-area .demo-text p {
  font-size: 14px;
  line-height: 26px;
}

.demo-area .demo-text .button {
  margin-top: 35px;
}

.demo-area .demo-text .button .btn {
  margin-right: 10px;
}

.demo-area .demo-text .button .btn:hover {
  color: #fff;
}

.demo-area .demo-text .button .btn:last-child {
  margin-right: 0px;
} */

/* Homepages */
.universal-demo .section-title {
  margin-bottom: 40px;
}

.universal-demo .single-demo {
  text-align: center;
  margin-top: 40px;
}

.universal-demo .single-demo:hover img {
  -webkit-transform: translate3d(0, -7px, 0);
  transform: translate3d(0, -7px, 0);
  -webkit-box-shadow: 0 20px 50px #c2c2c2;
  box-shadow: 0 20px 50px #c2c2c2;
}

.universal-demo .single-demo img {
  width: 100%;
  -webkit-box-shadow: 0 10px 30px rgba(111, 111, 111, 0.1);
  box-shadow: 0 10px 30px rgba(111, 111, 111, 0.1);
  border-radius: 6px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.universal-demo .single-demo h3 {
  text-align: center;
  margin-top: 25px;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.universal-demo .single-demo:hover h3 {
  color: #3763eb;
}

.inner-pages {
  background-color: #f6f9fc;
}

.blog-pages {
  background-color: #fff;
}

.core-features {
  background-color: #f6f9fc !important;
}

.core-features .section-title {
  margin-bottom: 50px;
}

.core-features .single-service {
  background-color: #fff;
  -webkit-box-shadow: 0 10px 30px rgba(111, 111, 111, 0.1);
  box-shadow: 0 10px 30px rgba(111, 111, 111, 0.1);
  height: 325px;
  margin-top: 30px;
}

/*======================================
	Header CSS
========================================*/
/*===== NAVBAR =====*/
.navbar-area {
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  background-color: #fff;
  position: absolute;
}

.header.index2 .navbar-area {
  background-color: transparent;
  position: absolute;
  z-index: 99;
}

.header.index2 .sticky {
  position: fixed;
  z-index: 99;
  background-color: #fff;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  top: 0;
}

.sticky {
  position: fixed;
  z-index: 99;
  background-color: #fff;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  top: 0;
}

.sticky .navbar .navbar-nav .nav-item a {
  color: #333;
}

.sticky .navbar .navbar-nav .nav-item a.active {
  color: #3763eb;
}

.sticky .navbar .navbar-toggler .toggler-icon {
  background: #333;
}

.navbar {
  padding: 0;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar {
    padding: 17px 0;
  }
}

@media (max-width: 767px) {
  .navbar {
    padding: 17px 0;
  }
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  width: 150px;
}

.navbar-toggler {
  padding: 0;
}

.navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: #333;
  display: block;
  margin: 5px 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navbar-toggler.active .toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}

.navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}

.navbar-toggler.active .toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -7px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 12px;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(29, 42, 93, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(29, 42, 93, 0.1);
    padding: 5px 12px;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 38px;
}

.navbar-nav .nav-item a {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 30px 0;
  position: relative;
  text-transform: capitalize;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item a {
    display: inline-block;
    padding: 6px 0px;
    color: #5e678c;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item a {
    display: inline-block;
    padding: 6px 0px;
    color: #5e678c;
  }
}

.navbar-nav .nav-item a::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 3px;
  background: #3763eb;
  z-index: -1;
  opacity: 0;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  z-index: 5;
}

.navbar-nav .nav-item a::before {
  width: 0%;
  left: 0;
}

.navbar-nav .nav-item a::after {
  width: 20%;
  right: 0;
}

.navbar-nav .nav-item a:hover,
.navbar-nav .nav-item a.active {
  color: #3763eb;
}

.navbar-nav .nav-item:hover a:before,
.navbar-nav .nav-item a.active::before {
  opacity: 1;
  width: 30px;
}

.header .navbar-nav li .sub-menu li a.active {
  background-color: #3763eb !important;
  color: #fff !important;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item a:hover::after,
  .navbar-nav .nav-item a:hover::before,
  .navbar-nav .nav-item a.active::after,
  .navbar-nav .nav-item a.active::before {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item a:hover::after,
  .navbar-nav .nav-item a:hover::before,
  .navbar-nav .nav-item a.active::after,
  .navbar-nav .nav-item a.active::before {
    opacity: 1;
  }
}

.navbar-nav .nav-item:hover .sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

.navbar-nav .sub-nav-toggler {
  display: block;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    color: #222;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 767px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    color: #222;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }
}

.navbar-nav .sub-nav-toggler span {
  width: 8px;
  height: 8px;
  border-left: 1px solid #222;
  border-bottom: 1px solid #222;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: relative;
  top: -5px;
}

.header {
  position: relative;
}

/* Header Button */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header .button {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .header .button {
    display: none !important;
  }
}

.header .button .btn {
  color: #3763eb;
  padding: 12px 25px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  z-index: 2;
  background: #fff;
  border: 1px solid #f4eefb;
  font-size: 14px;
  font-weight: 500;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.header .button .btn:hover {
  color: #fff;
  background-color: #3763eb;
  border-color: transparent;
}

/* Dropdown Menu */
.header .navbar-nav li .sub-menu {
  background: #fff;
  width: 220px;
  text-align: left;
  position: absolute;
  top: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  padding: 15px;
  left: 0;
  margin: 0;
  -webkit-box-shadow: 1px 4px 12px rgba(51, 51, 51, 0.25);
  box-shadow: 0px 13px 20px rgba(153, 153, 153, 0.06);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 9999999;
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  -webkit-transform: scaleY(0.2);
  transform: scaleY(0.2);
  border-radius: 0 0 3px 3px;
}

.header .navbar-nav li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.header .navbar-nav li .sub-menu li {
  float: none;
  margin: 0;
  display: block;
  margin-bottom: 6px;
}

.header .navbar-nav li .sub-menu li:last-child {
  margin-bottom: 0px;
}

.header .navbar-nav li .sub-menu li:last-child {
  border: none;
}

.header .navbar-nav li .sub-menu li a {
  padding: 10px 15px;
  color: #666;
  display: block;
  font-size: 13px;
  font-weight: normal;
  text-transform: capitalize;
  background: transparent;
  border-radius: 3px;
}

.header .navbar-nav li .sub-menu li a:before {
  display: none;
}

.header .navbar-nav li .sub-menu li a:hover:before {
  opacity: 1;
  visibility: visible;
}

.header .navbar-nav li .sub-menu li:last-child a {
  border-bottom: 0px;
}

.header .navbar-nav li .sub-menu li:hover a {
  color: #fff;
  background: #3763eb;
}

.header .button {
  display: inline-block;
  margin-left: 45px;
}

.header .button .btn {
  width: 150px;
  padding: 13px 10px;
}

.button .btn .dir-part {
  background-color: #ffffff;
}

.header .navbar-nav li .sub-menu li .sub-menu li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.header.index2 .sticky .nav-item a {
  color: #081828 !important;
}

.header.index2 .sticky .nav-item a:hover {
  color: #3763eb !important;
}

.header.index2 .sticky .nav-item a.active {
  color: #3763eb !important;
}

.header.index2 .logo {
  position: relative;
  margin: 0;
  padding: 0;
  top: -16px;
}

.header.index2 .logo img {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header.index2 .logo .logo1 {
  opacity: 0;
  visibility: hidden;
}

.header.index2 .navbar-nav .nav-item a {
  color: #fff;
}

.header.index2 .navbar-nav .nav-item a::before {
  background-color: #fff;
}

.header.index2 .button .btn:hover {
  background-color: #fff;
  color: #3763eb;
}

/* Index 2 */
.header.index2 .sticky .logo .logo1 {
  opacity: 1;
  visibility: visible;
}

.header.index2 .sticky .logo .logo2 {
  opacity: 0;
  visibility: hidden;
}

.header.index2 .sticky .nav-item a::before {
  background-color: #3763eb;
}

.header.index2 .navbar-nav li .sub-menu {
  border-radius: 3px;
}

.header.index2 .navbar-nav .sub-menu li a {
  color: #081828;
}

.header.index2 .navbar-nav .sub-menu li a:hover {
  color: #fff !important;
}

/* Index 4 */
.header.index4 .navbar-area {
  position: absolute;
}

.header.index4 .sticky {
  position: fixed;
  top: 0;
}

/*======================================
    Hero Area CSS
========================================*/
.hero-area {
  position: relative;
  background: #f6f9fc;
  overflow: hidden;
}

.hero-area .hero-inner {
  height: 700px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 3;
}

.hero-area .hero-inner::before {
  position: absolute;
  content: '';
  right: 0;
  width: 50%;
  background-image: url(../images/hero/hero-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0;
  height: 100%;
  top: -100px;
  z-index: 1;
  border-radius: 0;
  border-radius: 100%;
  height: 800px;
  width: 800px;
  right: -135px;
  z-index: -1;
}

.hero-area .hero-text {
  float: none;
  margin-top: 220px;
}

.hero-area .hero-text h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 25px;
}

.hero-area .hero-text h1 span {
  font-weight: 300;
}

.hero-area .hero-text p {
  font-size: 14px;
}

.hero-area .hero-text .button {
  margin-top: 35px;
}

.hero-area .hero-text .button .btn {
  margin-right: 10px;
}

.hero-area .hero-text .button .btn:hover {
  color: #fff;
}

.hero-area .hero-text .button .btn:last-child {
  margin-right: 0px;
}

.hero-area .hero-image {
  margin-top: 175px;
}

.hero-area.index2 {
  background-color: #3763eb;
  position: relative;
}

.hero-area.index2 .shape {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 500px;
}

.hero-area.index2 .hero-inner {
  height: 800px;
}

.hero-area.index2 .hero-inner::before {
  display: none;
}

.hero-area.index2 .hero-text {
  margin-top: 220px;
}

.hero-area.index2 .hero-text h1 {
  color: #fff;
}

.hero-area.index2 .hero-text p {
  color: #fff;
}

.hero-area.index2 .hero-text .button .btn {
  background-color: #fff;
  color: #3763eb;
}

.hero-area.index2 .hero-text .button .btn:hover {
  color: #3763eb;
}

.hero-area.index2 .mobile-screen {
  text-align: center;
}

.hero-area.index2 .mobile-screen img {
  margin-top: 145px;
}

/* Index 3*/
.hero-area.index3 {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#3763eb),
    color-stop(#3763eb),
    color-stop(#3763ebb3),
    to(transparent)
  );
  background: linear-gradient(#3763eb, #3763eb, #3763ebb3, transparent);
  position: relative;
  overflow: visible;
}

.hero-area.index3 .hero-inner {
  height: 1000px;
}

.hero-area.index3 .hero-inner::before {
  display: none;
}

.hero-area.index3 .hero-text {
  margin-top: 180px;
  text-align: center;
  padding: 0px 50px;
}

.hero-area.index3 .hero-text h1 {
  color: #fff;
  text-transform: capitalize;
}

.hero-area.index3 .hero-text p {
  color: #fff;
}

.hero-area.index3 .hero-text .button .btn {
  background-color: #fff;
  color: #3763eb;
}

.hero-area.index3 .hero-text .button .btn:hover {
  color: #3763eb;
}

.hero-area.index3 .desktop-screen {
  text-align: center;
}

.hero-area.index3 .desktop-screen img {
  margin-top: 45px;
}

/* Index 4*/
.hero-area.index4 {
  background-color: #3763eb;
}

.hero-area.index4 .hero-inner {
  height: 700px;
}

.hero-area.index4 .hero-inner::before {
  background-image: none;
  background-color: #3763eb;
  z-index: -1;
}

.hero-area.index4 .hero-text {
  margin-top: 200px;
}

.hero-area.index4 .hero-text .small {
  color: #fff;
  display: block;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 400;
}

.hero-area.index4 .hero-text h1 {
  color: #fff;
}

.hero-area.index4 .hero-text h1 span {
  font-size: 40px;
  font-weight: 700;
  line-height: 30px;
  display: block;
  margin-bottom: 12px;
}

.hero-area.index4 .hero-text p {
  color: #fff;
}

.hero-area.index4 .hero-text ul {
  display: block;
  margin-bottom: 20px;
}

.hero-area.index4 .hero-text ul li {
  display: inline-block;
  color: #fff;
  margin-right: 10px;
  font-size: 13px;
  position: relative;
  padding-left: 15px;
  line-height: 26px;
}

.hero-area.index4 .hero-text ul li:last-child {
  margin-right: 0;
}

.hero-area.index4 .hero-text ul li::before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  height: 6px;
  width: 6px;
  background-color: #fff;
  border-radius: 50%;
  margin-top: -4px;
}

.hero-area.index4 .hero-text .button .btn {
  background-color: #fff;
  color: #3763eb;
}

.hero-area.index4 .personal-image {
  margin-top: 110px;
  text-align: center;
}

/*======================================
    Servicess CSS
========================================*/
.services {
  background-color: #fff;
}

.services .single-head {
  position: relative;
}

.services .single-head .service-patern {
  position: absolute;
  left: -55px;
  bottom: -55px;
}

.single-service {
  padding: 40px 30px;
  background-color: #f6f9fc;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}

.single-service h3 {
  line-height: 24px;
}

.single-service h3 a {
  color: #081828;
  font-size: 16px;
  font-weight: 600;
}

.single-service h3 a:hover {
  color: #3763eb;
}

.single-service .icon {
  background-color: #3763eb;
  display: inline-block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 60px 60px 60px 0;
  font-size: 25px;
  margin: 20px 0;
  position: relative;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}

.single-service .icon ::after {
  position: absolute;
  left: 0;
  bottom: -25px;
  height: 2px;
  width: 30px;
  background-color: #3763eb;
  content: '';
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  border-radius: 3px;
}

.single-service .icon i {
  color: #fff;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}

.single-service p {
  font-size: 13px;
  margin-top: 25px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}

.single-service::before {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #3763eb;
  content: '';
  z-index: -1;
  border-radius: 10px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.4s cubic-bezier(0.94, 0.05, 0.23, 1.04);
  transition: all 0.4s cubic-bezier(0.94, 0.05, 0.23, 1.04);
  -moz-transition: all 0.4s cubic-bezier(0.94, 0.05, 0.23, 1.04);
  opacity: 0;
  visibility: hidden;
}

.single-service:hover::before {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.single-service:hover h3 a {
  color: #fff;
}

.single-service:hover p {
  color: #fff;
}

.single-service:hover .icon {
  background-color: #fff;
}

.single-service:hover .icon ::after {
  background-color: #fff;
  width: 50px;
}

.single-service:hover .icon i {
  color: #3763eb;
}

.services.index2 .section-title {
  padding: 0;
  padding-right: 100px;
}

.services.index2 .review-content {
  border-radius: 5px;
  padding: 50px;
  display: block;
  background-color: #f6f9fc;
}

.services.index2 .review-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: #081828;
}

.services.index2 .review-content ul {
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
}

.services.index2 .review-content ul li {
  display: inline-block;
}

.services.index2 .review-content ul li i {
  color: #ffd849;
}

.services.index2 .review-content p {
  display: block;
}

/* Portfolio Details */
.service-details .content {
  padding: 100px 0;
}

.service-details .content img {
  width: 100%;
  border-radius: 5px;
}

.service-details .content h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #081828;
  font-size: 28px;
  margin-top: 30px;
}

.service-details .content p {
  margin: 30px 0;
  font-size: 15px;
  line-height: 28px;
}

.service-details .content p:last-child {
  margin-bottom: 0;
}

.service-details .service-category {
  background-color: #f6f9fc;
  padding: 35px;
  border: 1px solid #eee;
  border-radius: 5px;
}

.service-details .service-category li {
  display: block;
  margin-bottom: 15px;
}

.service-details .service-category li:last-child {
  margin-bottom: 0;
}

.service-details .service-category li a {
  padding: 15px 20px;
  background-color: #fff;
  color: #081828;
  display: block;
  border-radius: 5px;
}

.service-details .service-category li a:hover {
  background-color: #3763eb;
  color: #fff;
}

.extra-page {
  padding-bottom: 70px;
}

.extra-page .single-service {
  margin-bottom: 30px;
}

/*======================================
    About Us CSS
========================================*/
.about-us {
  background-color: #f6f9fc;
}

.about-us .about-left .section-title {
  padding: 0;
  margin-bottom: 40px;
}

.about-us .about-left .about-tab .nav {
  margin-bottom: 40px;
  background: transform;
  position: relative;
}

.about-us .about-left .about-tab .nav-tabs {
  border: none;
}

.about-us .about-left .about-tab .nav li {
  text-align: center;
  margin-right: 10px;
}

.about-us .about-left .about-tab .nav li a {
  color: #081828;
  border: none;
  padding: 0;
  padding: 10px 25px;
  border-radius: 4px;
  font-size: 13px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(52, 49, 75, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(52, 49, 75, 0.1);
}

.about-us .about-left .about-tab .nav li a.active {
  background: #3763eb;
  color: #fff;
}

.about-us .about-left .tab-content .content-heading {
  font-size: 16px;
  color: #081828;
  display: block;
  margin-bottom: 25px;
}

.about-us .about-left .tab-content p {
  margin-bottom: 20px;
}

.about-us .about-left .tab-content p:last-child {
  margin: 0;
}

.about-us .about-left .tab-content ul {
  margin-top: 20px;
}

.about-us .about-left .tab-content ul li {
  display: block;
  margin-bottom: 10px;
}

.about-us .about-left .tab-content ul li i {
  display: inline-block;
  margin-right: 5px;
  color: #3763eb;
}

.about-us .about-left .tab-content ul li:last-child {
  margin: 0;
}

.about-us.index2 .about-right {
  text-align: center;
}

/* Index 3 */
.about-us.index3 {
  background-color: #fff;
}

.about-us.index3 .about-left.pr {
  padding-right: 50px;
}

.about-us.index3 .about-left.pl {
  padding-left: 50px;
}

.about-us.index3 .about-right {
  text-align: center;
}

.about-us.index3 .about-right img {
  width: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 30px rgba(111, 111, 111, 0.1);
  box-shadow: 0 10px 30px rgba(111, 111, 111, 0.1);
}

.about-us.index3 .first-overview {
  background-color: #f6f9fc;
}

/* Index 4 */
.about-us.index-4 .tab-content h3 {
  font-size: 15px;
  color: #081828;
  display: block;
  margin-bottom: 20px;
}

.about-us.index-4 .tab-content h3 span {
  font-size: 12px;
  color: inherit;
  display: block;
  font-weight: 400;
  margin-top: 7px;
}

.about-us.index-4 .tab-content p {
  margin-bottom: 30px;
}

.about-us.index-4 .tab-content p:last-child {
  margin: 0;
}

.about-us.index-4 .tab-content ul li span {
  display: inline-block;
  margin-right: 5px;
  color: #081828;
  font-weight: 500;
}

/*=============================
	Pricing Table CSS
===============================*/
.pricing-table {
  background: #f6f9fc;
  position: relative;
}

.pricing-table .single-table {
  background: #fff;
  text-align: center;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 60px 20px;
  -webkit-box-shadow: 0 10px 30px rgba(111, 111, 111, 0.1);
  box-shadow: 0 10px 30px rgba(111, 111, 111, 0.1);
  overflow: hidden;
  border-radius: 5px;
}

.pricing-table .single-table .title {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  text-transform: capitalize;
}

.pricing-table .single-table .amount {
  position: relative;
  color: #333;
  font-size: 35px;
  display: block;
  margin: 35px 0 40px 0;
  font-weight: 600;
  padding-bottom: 35px;
}

.pricing-table .single-table .amount::before {
  content: '';
  display: block;
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -40%;
  height: 1px;
  background: radial-gradient(
    ellipse at center,
    #d1dbe7 0,
    rgba(255, 255, 255, 0) 75%
  );
}

.pricing-table .single-table .duration {
  color: #888;
  font-size: 14px;
  font-weight: 400;
  display: block;
}

.pricing-table .single-table .table-list li {
  color: #444;
  margin-bottom: 20px;
  font-size: 14px;
}

.pricing-table .single-table .table-list li:last-child {
  margin-bottom: 0;
}

.pricing-table .single-table .button {
  margin-top: 40px;
}

.pricing-table .single-table .button .btn {
  font-size: 13px;
}

/*======================================
    Intro Video CSS
========================================*/
.intro-video-area {
  background-image: url('../images/video/video-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 9;
  padding-bottom: 130px;
}

.intro-video-area.overlay::before {
  z-index: 1;
  opacity: 0.9;
}

.intro-video-area .section-title {
  margin-bottom: 200px;
}

.intro-video-area .intro-video-play {
  position: relative;
  z-index: 9;
}

.intro-video-area .intro-video-play .play-thumb a {
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 110px;
  width: 110px;
  text-align: center;
  line-height: 116px;
  background: #fff;
  border-radius: 50%;
  padding-left: 5px;
  font-size: 25px;
  color: #3763eb;
  margin-left: -55px;
}

.intro-video-area .intro-video-play .play-thumb a:hover {
  background-color: #3763eb;
  color: #fff;
}

.intro-video-area .intro-video-play .play-thumb a::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-animation: pulse-border-2 1.5s linear infinite;
  animation: pulse-border-2 1.5s linear infinite;
}

.intro-video-area .intro-video-play .play-thumb a::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-animation: pulse-border 1s linear infinite;
  animation: pulse-border 1s linear infinite;
}

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
}

@-webkit-keyframes pulse-border-2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse-border-2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}

/*======================================
    Blog CSS
========================================*/
.latest-news-area .single-news .image {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.latest-news-area .single-news .image img {
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.latest-news-area .single-news .image .meta-details {
  display: inline-block;
  padding: 6px 15px 6px 7px;
  border-radius: 30px;
  background-color: #3763eb;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.latest-news-area .single-news .image .meta-details img {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  display: inline-block;
}

.latest-news-area .single-news .image .meta-details span {
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  font-size: 10px;
  font-weight: 500;
}

.latest-news-area .single-news .content-body .title {
  font-size: 18px;
  margin: 30px 0 20px 0;
  line-height: 24px;
}

.latest-news-area .single-news .content-body .title a {
  color: #081828;
}

.latest-news-area .single-news .content-body .title a:hover {
  color: #3763eb;
}

.latest-news-area .single-news .content-body p {
  font-size: 13px;
}

.latest-news-area .single-news:hover .image .thumb {
  -webkit-transform: scale(1.1) rotate(1deg);
  transform: scale(1.1) rotate(1deg);
}

.blog-list .single-news {
  margin-bottom: 40px;
}

/* News Details */
.blog-single {
  background: #fff;
}

.blog-single .post-thumbnils {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.blog-single .post-thumbnils img {
  width: 100%;
}

.blog-single .post-thumbnils .author {
  display: inline-block;
  padding: 6px 15px 6px 7px;
  border-radius: 30px;
  background-color: #3763eb;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.blog-single .post-thumbnils .author img {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  display: inline-block;
}

.blog-single .post-thumbnils .author span {
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  font-size: 10px;
  font-weight: 500;
}

.post-details .detail-inner {
  background-color: #fff;
  padding: 0;
  margin-top: 40px;
}

.post-details .post-thumbnils {
  margin-bottom: 30px;
}

.post-details .post-title {
  font-weight: 700;
  margin-bottom: 25px;
  line-height: 32px;
}

.post-details .post-title a {
  font-size: 23px;
  font-weight: 600;
}

.post-details .post-title a:hover {
  color: #3763eb;
}

ul.custom-flex {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.post-details .post-meta li {
  font-weight: 500;
  font-size: 15px;
  margin-right: 25px;
}

.post-details .post-meta li a i {
  font-weight: 400;
  margin-right: 3px;
}

.post-details .post-meta li a:hover {
  color: #3763eb;
}

.post-details p {
  font-size: 15px;
  margin: 40px 0;
}

.post-details h3 {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 28px;
}

.post-details p:last-child {
  margin-bottom: 0;
}

blockquote {
  position: relative;
  color: #666;
  font-weight: 400;
  clear: both;
  z-index: 1;
  margin: 40px 0;
  text-align: center;
  padding: 40px 50px 50px 50px;
  background-color: #f6f9fc;
  border: 1px solid #eee;
  border-radius: 5px;
  overflow: hidden;
}

blockquote .icon i {
  font-size: 40px;
  color: #3763eb;
  display: block;
  margin-bottom: 20px;
}

blockquote h4 {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #333;
}

blockquote span {
  font-size: 13px;
  display: block;
  margin-top: 20px;
}

.post-details .list {
  margin: 40px;
}

.post-details .list li {
  color: #888;
  font-weight: 400;
  position: relative;
  padding-left: 40px;
  display: block;
  margin-bottom: 26px;
  position: relative;
  font-size: 15px;
}

.post-details .list li i {
  display: block;
  height: 25px;
  width: 25px;
  line-height: 25px;
  font-size: 10px;
  color: #3763eb;
  background-color: #3763eb17;
  position: absolute;
  left: 0;
  top: -1px;
  text-align: center;
  border-radius: 50%;
}

.post-details .list li:last-child {
  margin: 0;
}

.popular-tag-widget .tag-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 17px;
}

.post-tags-media .share-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 17px;
}

.post-details .post-tags-media .post-social-media ul {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.post-details .post-tags-media .post-social-media ul > li > a {
  font-size: 18px;
  color: #7184ad;
  height: 40px;
  width: 40px;
  line-height: 40px;
}

.post-details .post-tags-media .post-social-media ul > li > a:hover {
  color: #3763eb;
}

.post-details .post-tags-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}

.post-details .post-meta li {
  font-weight: 500;
  margin-right: 25px;
}

.post-details .post-meta li a {
  font-size: 13px;
  font-weight: 400;
  font-weight: 500;
  color: #081828;
}

.post-details .post-meta li a i {
  font-weight: 400;
  margin-right: 5px;
  color: #3763eb;
}

.post-details > p {
  font-size: 14px;
}

.post-details .post-image {
  margin: 40px 0;
  width: 100%;
}

.post-details .post-image img {
  width: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 5px;
}

.post-details > ul > li {
  font-weight: 500;
}

.post-details .post-tags-media .post-tags .tags a {
  color: #333;
  background: transparent;
}

.post-details .post-tags-media .post-tags .tags a:hover {
  color: #fff;
  background-color: #3763eb;
}

.post-details .post-tags-media .post-social-media {
  text-align: right;
}

.post-details .post-tags-media .post-social-media ul {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.detail-post-navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #fff;
  padding: 30px;
  border: 1px solid #eee;
}

/*comments*/
.post-comments {
  background-color: #fff;
  padding: 40px;
  margin-top: 40px;
  border: 1px solid #eee;
  border-radius: 5px;
}

.comment-title {
  padding-left: 13px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-left: 4px solid #3763eb;
  font-size: 22px !important;
  font-weight: 500 !important;
  margin-bottom: 40px !important;
}

.comment-reply-title {
  padding-left: 13px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-left: 4px solid #3763eb;
  font-size: 22px !important;
  font-weight: 500 !important;
  margin-bottom: 40px !important;
}

.post-comments .comments-list li {
  padding-left: 130px;
  position: relative;
  font-size: 14px;
}

.post-comments .comments-list li .comment-img {
  position: absolute;
  left: 0;
  width: 100px;
  height: 100px;
}

.post-comments .comments-list li .comment-img img {
  max-width: 100px;
  max-height: 100px;
}

.post-comments .comments-list li .comment-desc .desc-top {
  margin-bottom: 20px;
  position: relative;
  display: block;
}

.post-comments .comments-list li .comment-desc .desc-top h6 {
  font-size: 17px;
  margin-bottom: 8px;
  font-weight: 500;
}

.post-comments .comments-list li .comment-desc .desc-top h6 .saved {
  color: #3763eb;
  font-size: 14px;
  margin-left: 10px;
}

.post-comments .comments-list li .comment-desc .desc-top span.date {
  font-size: 12px;
  font-weight: 400;
}

.post-comments .comments-list li .comment-desc .desc-top .reply-link {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 10px 22px;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  z-index: 2;
  border-radius: 30px;
  border: 1px solid #eee;
  color: #3763eb;
}

.post-comments .comments-list li .comment-desc .desc-top .reply-link:hover {
  background-color: #3763eb;
  color: #fff;
  border-color: transparent;
}

.post-comments .comments-list li .comment-desc .desc-top .reply-link i {
  margin-right: 5px;
}

.post-comments .comments-list li .comment-desc p {
  font-weight: 400;
  margin-bottom: 0;
  font-size: 14px;
}

.post-comments .comments-list li.children {
  margin-left: 130px;
}

.post-comments .comments-list li:not(:first-child) {
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px dashed #eee;
}

/*Comment form*/
.comment-form {
  background-color: #fff;
  padding: 40px;
  margin-top: 40px;
  border: 1px solid #eee;
  border-radius: 5px;
}

.comment-form form .form-box {
  position: relative;
}

.comment-form form .form-box .icon {
  position: absolute;
  top: 17px;
  right: 25px;
  font-size: 16px;
}

.comment-form form .form-box .form-control-custom {
  border: none;
  background: #fff;
  font-size: 14px;
  color: #081828;
  padding: 0 25px;
  padding-left: 30px;
  padding-right: 50px;
  font-weight: 500;
  height: 55px;
  border: 1px solid #eee;
  margin-bottom: 25px;
  border-radius: 0;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
}

.comment-form form .form-box textarea.form-control-custom {
  height: 200px;
  padding: 25px;
}

.comment-form form .form-box .form-control-custom::-webkit-input-placeholder {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  padding: 25px;
}

.comment-form form .form-box .form-control-custom:-ms-input-placeholder {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  padding: 25px;
}

.comment-form form .form-box .form-control-custom::-ms-input-placeholder {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  padding: 25px;
}

.comment-form form .form-box .form-control-custom::placeholder {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  padding: 25px;
}

/* News sidebar */
.sidebar .widget {
  padding: 40px;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid #eee;
}

.sidebar .widget:last-child {
  margin-bottom: 0;
}

.sidebar .widget .widget-title {
  font-size: 17px;
  margin-bottom: 40px;
  line-height: 1;
  position: relative;
  padding-left: 18px;
  font-weight: 600;
  line-height: 28px;
}

.sidebar .widget .widget-title::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: #3763eb;
  content: '';
}

.sidebar .widget.search-widget form {
  position: relative;
}

.sidebar .widget.search-widget form input {
  width: 100%;
  background-color: transparent;
  height: 55px;
  border: none;
  padding: 0 80px 0 30px;
  font-size: 13px;
  font-weight: 400;
  border-radius: 0;
  border: 1px solid #eee;
  border-radius: 30px;
}

.sidebar .widget.search-widget form input::-webkit-input-placeholder {
  color: #333;
}

.sidebar .widget.search-widget form input:-ms-input-placeholder {
  color: #333;
}

.sidebar .widget.search-widget form input::-ms-input-placeholder {
  color: #333;
}

.sidebar .widget.search-widget form input::placeholder {
  color: #333;
}

.sidebar .widget.search-widget form button {
  border: none;
  position: absolute;
  right: 7px;
  top: 6px;
  width: 55px;
  height: 42px;
  z-index: 1;
  color: #fff !important;
  font-size: 13px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  color: #fff;
  border-radius: 0;
  border-radius: 30px;
  padding: 0 !important;
  border: none;
  background: #3763eb;
}

.sidebar .widget.search-widget form button:hover {
  background-color: #081828;
  color: #fff;
}

.sidebar .widget.popular-feeds .single-popular-feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px dashed #eee;
}

.sidebar .widget.popular-feeds .single-popular-feed:last-child {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-img {
  width: 80px;
  margin-right: 20px;
  border-radius: 50%;
  height: 80px;
  border-radius: 50% !important;
  overflow: hidden;
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-desc .post-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
  line-height: 1.5;
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-desc .post-title a {
  font-size: 14px;
  font-weight: 500;
}

.sidebar
  .widget.popular-feeds
  .single-popular-feed
  .feed-desc
  .post-title
  a:hover {
  color: #3763eb;
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-desc .time {
  font-weight: 400;
  font-size: 12px;
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-desc .time > i {
  margin-right: 4px;
}

.sidebar .widget.categories-widget ul li {
  margin-bottom: 10px;
}

.sidebar .widget.categories-widget ul li:last-child {
  margin-bottom: 0;
}

.sidebar .widget.categories-widget ul li a {
  font-size: 14px;
  height: 35px;
  background-color: transparent;
  display: block;
  position: relative;
  line-height: 35px;
  color: #333;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-weight: 500;
  padding: 0;
}

.sidebar .widget.categories-widget ul li a span {
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: transparent;
  color: #333;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border-radius: 50%;
  border: 1px solid #eee;
  font-size: 11px;
}

.sidebar .widget.categories-widget ul li a:hover {
  color: #3763eb;
}

.sidebar .widget.categories-widget ul li a:hover span {
  background: #3763eb;
  color: #fff;
  border-color: transparent;
}

.sidebar .widget.popular-tag-widget {
  padding-bottom: 30px;
}

.popular-tag-widget .tags > a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 8px 20px;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 500;
  background: #3763eb;
  margin-right: 7px;
  margin-bottom: 10px;
  color: #fff;
  background: transparent;
  color: #888;
  border: 1px solid #eee;
  border-radius: 30px;
}

.popular-tag-widget .tags > a:hover {
  background-color: #3763eb;
  color: #fff;
  border-color: transparent;
}

/*======================================
    Newsletter CSS
========================================*/
.newsletter-area {
  background-color: #f6f9fc;
}

.newsletter-area .subscribe-text {
  background-color: #3763eb;
  color: #fff;
  padding: 40px;
  height: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 30px rgba(111, 111, 111, 0.1);
  box-shadow: 0 10px 30px rgba(111, 111, 111, 0.1);
}

.newsletter-area .subscribe-text h6 {
  color: #fff;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 20px;
}

.newsletter-area .subscribe-text p {
  color: #fff;
  margin-bottom: 40px;
}

.newsletter-area .subscribe-text input {
  height: 53px;
  width: 400px;
  border: none;
  background-color: #fff;
  color: #081828;
  border-radius: 30px;
  padding: 0px 30px;
  display: inline-block;
}

.newsletter-area .subscribe-text .button {
  display: inline-block;
  margin-left: 10px;
}

.newsletter-area .subscribe-text .button .btn {
  background-color: transparent;
  color: #fff;
  border: 1px solid #eee;
  height: 53px;
}

.newsletter-area .subscribe-text .button .btn:hover {
  background-color: #fff;
  color: #3763eb;
  border-color: transparent;
}

.newsletter-area .mini-call-action {
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding: 40px;
  -webkit-box-shadow: 0 10px 30px rgba(111, 111, 111, 0.1);
  box-shadow: 0 10px 30px rgba(111, 111, 111, 0.1);
  border-radius: 5px;
}

.newsletter-area .mini-call-action h4 {
  color: #081828;
  margin-bottom: 20px;
  display: block;
  font-size: 18px;
  line-height: 28px;
}

.newsletter-area .mini-call-action p {
  font-size: 13px;
}

.newsletter-area .mini-call-action .button {
  margin-top: 25px;
}

.newsletter-area .mini-call-action.index2 .button .btn {
  position: relative;
  padding-left: 45px;
  text-align: left;
  width: 100%;
  padding: 10px 10px 10px 65px;
  margin-bottom: 10px;
  font-size: 14px;
}

.newsletter-area .mini-call-action.index2 .button .btn:last-child {
  margin-bottom: 0;
}

.newsletter-area .mini-call-action.index2 .button .btn span {
  display: block;
  font-size: 9px;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.newsletter-area .mini-call-action.index2 .button .btn i {
  font-size: 25px;
  position: absolute;
  left: 25px;
  top: 15px;
  display: inline-block;
}

.newsletter-area .mini-call-action.index3 .button .btn {
  width: 100%;
  margin-bottom: 10px;
}

.newsletter-area .mini-call-action.index3 .button .btn:last-child {
  margin-bottom: 0;
}

/*======================================
    Brand CSS
========================================*/
.brand-area .section-title {
  margin-bottom: 0 !important;
}

.brand-area .section-title.align-left {
  margin-bottom: 0 !important;
  padding: 0;
  padding-right: 50px;
}

.brand-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  border: 1px solid #eee;
}

.brand-list::before {
  position: absolute;
  content: '';
  background: #eee;
  width: 100%;
  height: 1px;
  top: 50%;
}

.brand-list li {
  -ms-flex-preferred-size: 33.33%;
  flex-basis: 33.33%;
}

.brand-list li a {
  display: block;
  border-right: 1px solid #eee;
  text-align: center;
  height: 150px;
  line-height: 150px;
}

.brand-list li a:hover {
  background-color: #f6f9fc;
}

.brand-list li a:hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.brand-list li a img {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.5;
}

.brand-list li:nth-child(3) a {
  border-color: transparent;
}

.brand-list li:last-child a {
  border-color: transparent;
}

.bg-color-white .brand-list::before {
  background: #f6f5fa;
}

.bg-color-white .brand-list li a {
  border-right: 1px solid #eee;
}

.bg-color-white .brand-list li:nth-child(3) a {
  border-color: transparent;
}

.bg-color-white .brand-list li:last-child a {
  border-color: transparent;
}

.client-list.slick-initialized .slick-slide {
  margin-bottom: 0;
}

/*======================================
	Footer CSS
========================================*/
.footer {
  background-color: #081828;
  z-index: 2;
  position: relative;
}

.footer .logo {
  margin-bottom: 26px;
}

.footer .logo img {
  width: 150px;
}

.footer .f-about p {
  color: #fff;
  font-size: 14px;
  line-height: 28px;
}

.footer .footer-social {
  margin-top: 35px;
}

.footer .footer-social ul li {
  display: inline-block;
  margin-right: 6px;
}

.footer .footer-social ul li:last-child {
  margin-right: 0;
}

.footer .footer-social ul li a {
  font-size: 17px;
  color: #333;
  height: 45px;
  width: 45px;
  text-align: center;
  display: block;
  line-height: 45px;
  background: transparent;
  border: none;
  color: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 3;
}

.footer .footer-social ul li a::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #3763eb;
  border-radius: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer .footer-social ul li a:hover::before {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.footer .footer-middle {
  padding-bottom: 60px;
  padding-top: 70px;
}

.footer .single-footer {
  margin-top: 30px;
}

.footer .single-footer h3 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  border-left: 3px solid #3763eb;
  padding-left: 10px;
  padding-top: 3px;
}

.footer .f-link ul li {
  margin-bottom: 15px;
  position: relative;
}

.footer .f-link ul li:last-child {
  margin: 0;
}

.footer .f-link ul li a {
  display: inline-block;
  color: #f3f1fdc9;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer .f-link ul li a::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer .f-link ul li a:hover::before {
  width: 100%;
  opacity: 0.5;
  visibility: visible;
}

.footer .f-link ul li a:hover {
  color: #fff;
  letter-spacing: 1px;
}

.footer .footer-bottom .inner {
  padding: 30px 0;
  border-top: 1px solid #ffffff4a;
  text-align: center;
}

.footer .footer-bottom .inner p {
  color: #fff;
  font-size: 13px;
}

.footer .footer-bottom .inner p a {
  font-weight: 400;
  display: inline-block;
  margin-left: 6px;
  color: #fff;
}

.footer .footer-bottom .inner p a:hover {
  color: #3763eb;
}

/*======================================
    Responsive CSS
========================================*/
/* Tablet Screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section {
    padding: 60px 0px;
  }
  .section-title {
    margin-bottom: 50px;
    padding: 0px 90px;
  }
  .section-title span {
    text-transform: uppercase;
    color: #3763eb;
    display: inline-block;
    margin-bottom: 8px;
    font-size: 13px;
  }
  .section-title h2 {
    font-size: 28px;
    margin-top: 5px;
    line-height: 38px;
  }
  .section-title.align-left {
    padding: 0;
    padding-right: 200px;
  }
  .section-title p {
    font-size: 13px;
  }
  .breadcrumbs {
    padding-top: 105px;
    padding-bottom: 50px;
  }
  .breadcrumbs .breadcrumbs-content .page-title {
    font-size: 30px;
    margin-bottom: 5px;
    color: #fff;
  }
  .button .btn {
    padding: 12px 25px;
    font-size: 14px;
    font-weight: 500;
  }
  #scrollUp {
    bottom: 55px;
  }
  .navbar-brand img {
    width: 130px;
  }
  .header.index2 .navbar .navbar-nav .nav-item a {
    color: #081828;
  }
  .header.index2 .navbar .navbar-nav .nav-item a::before {
    background-color: #3763eb;
  }
  .header.index2 .navbar-toggler .toggler-icon {
    background-color: #fff !important;
  }
  .header.index2 .sticky .navbar .navbar-toggler .toggler-icon {
    background: #081828 !important;
  }
  .header .navbar-nav li .sub-menu {
    background: #fff;
    width: 200px;
    padding: 10px;
    z-index: 9999999;
    left: 95px;
    opacity: 1;
    visibility: visible;
    position: relative;
    left: 13px;
    top: 0;
    -webkit-transform: scaleY(1) !important;
    transform: scaleY(1) !important;
    border: 1px dashed #eee;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .header .navbar-nav li .sub-menu li a {
    padding: 5px 10px;
    font-size: 13px;
    padding: 8px 12px;
    font-size: 12px;
  }
  .header .navbar-nav li a:hover .sub-menu {
    top: 42px;
  }
  .header .navbar-nav li a {
    position: relative;
    margin-bottom: 6px;
  }
  .navbar-collapse {
    overflow: scroll;
    height: 400px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .navbar-nav .nav-item:last-child {
    padding-bottom: 20px;
  }
  .right-button .btn {
    font-size: 13px;
  }
  .breadcrumbs .bread-list {
    margin-top: 8px;
  }
  .hero-area .hero-inner {
    height: 450px;
  }
  .hero-area .hero-inner::before {
    display: none;
  }
  .hero-area .hero-text {
    float: none;
    margin-top: 140px;
  }
  .hero-area .hero-text h1 {
    font-size: 30px;
    line-height: 38px;
  }
  .hero-area .hero-text .button {
    margin-top: 25px;
  }
  .hero-area.index2 .hero-text {
    margin-top: 135px;
  }
  .hero-area.index2 .hero-inner {
    height: 500px;
  }
  .hero-area.index2 .shape {
    height: 220px;
  }
  .hero-area.index2 .mobile-screen {
    display: none;
  }
  .hero-area.index3 .desktop-screen img {
    width: 100%;
  }
  .hero-area.index3 .hero-inner {
    height: 770px;
  }
  .hero-area.index3 .hero-text {
    margin-top: 150px;
  }
  .hero-area.index4 .hero-text {
    margin-top: 150px;
  }
  .hero-area.index4 .hero-inner {
    height: 550px;
  }
  .hero-area.index4 .hero-text h1 span {
    font-size: 30px;
    margin-bottom: 8px;
  }
  .hero-area.index4 .personal-image {
    display: none;
  }
  .about-us.index3 .about-left .section-title {
    margin-bottom: 0;
  }
  .about-us.index3 .about-right.margin-zero {
    margin: 0;
    margin-bottom: 40px;
  }
  .about-us.index3 .about-left.pl {
    padding-left: 0;
  }
  .services.index2 .review-content {
    margin-bottom: 15px;
  }
  .services .single-service {
    margin: 15px 0;
  }
  .services .single-head .service-patern {
    position: absolute;
    left: -30px;
    bottom: -30px;
  }
  .service-details h3 {
    font-size: 20px !important;
    margin-top: 30px;
    line-height: 32px !important;
  }
  .service-details .service-category {
    padding: 14px;
  }
  .service-details .service-category li a {
    font-size: 13px;
  }
  .service-details .content {
    padding: 60px 0;
  }
  .about-us .about-right {
    text-align: center;
    margin-top: 40px;
  }
  .portfolio-section.section {
    padding-bottom: 30px;
  }
  .portfolio-section .portfolio-btn-wrapper {
    position: relative;
    margin-top: 40px;
    text-align: left;
  }
  .portfolio-section .portfolio-btn-wrapper button {
    margin-right: 10px;
    padding: 7px 18px;
    font-size: 13px;
  }
  .portfolio-details .top-head {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .portfolio-details .top-head .cat {
    margin-bottom: 3px;
  }
  .portfolio-details .top-head h2 {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 50px;
  }
  .portfolio-details .content {
    padding: 60px 0;
  }
  .portfolio-details .content img {
    margin-top: 30px;
  }
  .single-team {
    width: 100%;
  }
  .single-team .image {
    text-align: center;
    display: inline-block;
  }
  .team .single-team .social-links .social {
    display: inline-block;
  }
  .team .single-team .shapes .shape1 {
    left: 70px;
  }
  .team .single-team .shapes .shape2 {
    right: 70px;
    bottom: 12px;
  }
  .testimonials {
    padding-bottom: 100px !important;
  }
  .intro-video-area {
    padding-bottom: 100px !important;
  }
  .pricing-table .section-title {
    margin-bottom: 20px;
  }
  .pricing-table .single-table {
    margin-top: 30px;
  }
  .faq-area {
    padding-bottom: 0;
  }
  .faq-area .heading {
    font-size: 17px;
    line-height: 28px;
  }
  .brand-area .section-title.align-left {
    padding-right: 200px;
    margin-bottom: 40px !important;
  }
  .newsletter-area .mini-call-action {
    height: auto;
  }
  .latest-news-area .section-title {
    margin-bottom: 20px;
  }
  .latest-news-area .single-news {
    margin-top: 30px;
  }
  .post-details .post-meta li {
    margin-bottom: 8px;
  }
  .latest-news-area.blog-list {
    padding-top: 30px;
  }
  .blog-list .single-news {
    margin-bottom: 0 !important;
  }
  .post-details p {
    margin: 25px 0;
  }
  .sidebar {
    margin-top: 30px;
  }
  .sidebar .widget.search-widget form input {
    padding: 0 80px 0 20px;
  }
  .sidebar .widget.social-widget ul li {
    margin-bottom: 10px;
  }
  .contact-area .contact-address-wrapper {
    padding-right: 0;
  }
  .contact-area .inner-section-title h2 {
    font-weight: 700;
    font-size: 28px;
  }
  .sidebar.service-sidebar .service-category > li > a {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    padding: 10px 15px;
  }
  .sidebar.service-sidebar .service-category {
    padding: 30px;
  }
  .sidebar.service-sidebar .service-docs {
    padding: 30px;
  }
  .sidebar.service-sidebar .service-quote {
    padding: 30px;
  }
  .adv-banner {
    padding: 30px;
  }
  .post-details .post-title {
    line-height: 30px;
  }
  .post-details .post-title a {
    font-size: 24px;
    font-weight: 600;
  }
  .blog-middle-image {
    margin-bottom: 20px;
  }
  .blog-single .sidebar {
    margin-top: 30px;
  }
  .map-section {
    background-color: #fff;
    margin-top: 50px;
    padding-bottom: 60px !important;
    height: auto;
  }
  .map-section iframe {
    height: 300px !important;
  }
  .newsletter-area .mini-call-action {
    margin-top: 30px;
  }
  .error-page .error-image img {
    width: 70%;
  }
  .error-page .error-text {
    margin-top: 50px;
    padding-left: 0 !important;
    text-align: center !important;
    padding: 0px 100px !important;
  }
  .error-page .error-image img {
    width: 70%;
  }
  .error-page .error-text {
    margin-top: 50px !important;
    padding-left: 0 !important;
    text-align: center !important;
    padding: 0px 100px !important;
  }
  .mail-success .success-image img {
    width: 70%;
  }
  .mail-success .siccess-text {
    margin-top: 50px;
    padding-left: 0 !important;
    text-align: center !important;
    padding: 0px 100px !important;
  }
  .contact-us .form-main {
    padding: 50px 50px 50px 50px !important;
  }
  .footer .footer-middle {
    padding-bottom: 60px;
    padding-top: 30px;
  }
  .footer .f-about p {
    padding-right: 80px;
  }
  .footer .single-footer {
    margin-top: 30px;
  }
}

/* Mobile Screen */
@media only screen and (max-width: 767px) {
  .section {
    padding: 50px 0px;
  }
  .section-title {
    margin-bottom: 40px;
    padding: 0px 20px;
  }
  .section-title span {
    text-transform: uppercase;
    color: #3763eb;
    display: inline-block;
    margin-bottom: 8px;
    font-size: 12px;
  }
  .section-title h2 {
    font-size: 25px;
    margin-top: 3px;
    line-height: 35px;
  }
  .section-title.align-left {
    padding: 0;
    padding-right: 0;
  }
  .section-title p {
    font-size: 13px;
  }
  .breadcrumbs {
    padding-top: 105px;
    padding-bottom: 50px;
  }
  .breadcrumbs .breadcrumbs-content .page-title {
    font-size: 30px;
    margin-bottom: 5px;
    color: #fff;
  }
  .button .btn {
    padding: 12px 25px;
    font-size: 14px;
    font-weight: 500;
  }
  #scrollUp {
    bottom: 55px;
  }
  .navbar-brand img {
    width: 130px;
  }
  .header.index2 .navbar .navbar-nav .nav-item a {
    color: #081828;
  }
  .header.index2 .navbar .navbar-nav .nav-item a::before {
    background-color: #3763eb;
  }
  .header.index2 .navbar-toggler .toggler-icon {
    background-color: #fff !important;
  }
  .header.index2 .sticky .navbar .navbar-toggler .toggler-icon {
    background: #081828 !important;
  }
  .header .navbar-nav li .sub-menu {
    background: #fff;
    width: 200px;
    padding: 10px;
    z-index: 9999999;
    left: 95px;
    opacity: 1;
    visibility: visible;
    position: relative;
    left: 13px;
    top: 0;
    -webkit-transform: scaleY(1) !important;
    transform: scaleY(1) !important;
    border: 1px dashed #eee;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .header .navbar-nav li .sub-menu li a {
    padding: 5px 10px;
    font-size: 13px;
    padding: 8px 12px;
    font-size: 12px;
  }
  .header .navbar-nav li a:hover .sub-menu {
    top: 42px;
  }
  .header .navbar-nav li a {
    position: relative;
    margin-bottom: 6px;
  }
  .navbar-collapse {
    overflow: scroll;
    height: 400px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .navbar-nav .nav-item:last-child {
    padding-bottom: 20px;
  }
  .right-button .btn {
    font-size: 13px;
  }
  .breadcrumbs .bread-list {
    margin-top: 8px;
  }
  .hero-area .hero-inner {
    height: 400px;
    overflow: visible;
  }
  .hero-area .hero-inner::before {
    display: none;
  }
  .hero-area .hero-text {
    float: none;
    margin-top: 100px;
  }
  .hero-area .hero-text h1 {
    font-size: 23px;
    line-height: 30px;
  }
  .hero-area .hero-text .button {
    margin-top: 20px;
  }
  .hero-area.index2 .hero-text {
    margin-top: 100px;
  }
  .hero-area.index2 .hero-inner {
    height: 500px;
  }
  .hero-area.index2 .shape {
    height: 120px;
  }
  .hero-area.index2 .mobile-screen {
    display: none;
  }
  .hero-area.index3 .desktop-screen img {
    width: 100%;
  }
  .hero-area.index3 .hero-inner {
    height: 550px;
  }
  .hero-area.index3 .hero-text {
    margin-top: 100px;
  }
  .hero-area.index4 .hero-text {
    margin-top: 120px;
  }
  .hero-area.index4 .hero-text p {
    font-size: 13px;
  }
  .hero-area.index4 .hero-inner {
    height: 500px;
  }
  .hero-area.index4 .hero-text h1 span {
    font-size: 23px;
    margin-bottom: 5px;
  }
  .hero-area.index4 .hero-text .small {
    margin-bottom: 12px;
    font-size: 13px;
  }
  .hero-area.index4 .personal-image {
    display: none;
  }
  .services.index2 .review-content {
    margin-bottom: 15px;
  }
  .services.index2 .section-title {
    padding-right: 0;
  }
  .services {
    padding-bottom: 35px;
  }
  .services .single-service {
    margin: 15px 0;
  }
  .services .section-title {
    margin-bottom: 25px;
  }
  .services .single-head .service-patern {
    position: absolute;
    left: -30px;
    bottom: -30px;
  }
  .service-details h3 {
    font-size: 20px !important;
    margin-top: 30px;
    line-height: 32px !important;
  }
  .service-details .service-category {
    margin-top: 30px;
  }
  .service-details .content {
    padding: 50px 0;
  }
  .about-us .about-right {
    text-align: center;
    margin-top: 40px;
  }
  .about-us .about-right img {
    width: 100%;
  }
  .about-us .about-tab .nav {
    margin-bottom: 28px !important;
  }
  .about-us .about-tab .nav li {
    margin-bottom: 12px;
  }
  .about-us.index3 .about-right.margin-zero {
    margin: 0;
    margin-bottom: 40px;
  }
  .about-us.index3 .about-left.pl {
    padding-left: 0;
  }
  .portfolio-section.section {
    padding-bottom: 20px;
  }
  .portfolio-section .portfolio-btn-wrapper {
    position: relative;
    margin-top: 40px;
    text-align: left;
  }
  .portfolio-section .portfolio-btn-wrapper button {
    margin-right: 10px;
    padding: 8px 18px;
    font-size: 12px;
  }
  .portfolio-details .top-head {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .portfolio-details .top-head .cat {
    margin-bottom: 3px;
  }
  .portfolio-details .top-head h2 {
    margin-bottom: 15px;
    font-size: 25px;
    line-height: 40px;
  }
  .portfolio-details .top-head .meta-description li {
    margin-top: 15px;
  }
  .portfolio-details .content {
    padding: 50px 0;
  }
  .portfolio-details .content img {
    margin-top: 30px;
  }
  .single-team {
    width: 100%;
  }
  .single-team .image {
    text-align: center;
    display: inline-block;
  }
  .team .single-team .social-links .social {
    display: inline-block;
  }
  .team .single-team .shapes .shape1 {
    display: none;
  }
  .team .single-team .shapes .shape2 {
    display: none;
  }
  .testimonials .tns-nav {
    bottom: -30px;
  }
  .testimonials {
    padding-bottom: 70px !important;
  }
  .intro-video-area .section-title {
    margin-bottom: 130px;
  }
  .intro-video-area .play-thumb {
    position: relative;
    left: 15px;
  }
  .intro-video-area .intro-video-play .play-thumb a {
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: 16px;
  }
  .intro-video-area {
    padding-bottom: 75px !important;
  }
  .pricing-table .section-title {
    margin-bottom: 10px;
  }
  .pricing-table .single-table {
    margin-top: 30px;
  }
  .faq-area {
    padding-bottom: 0;
  }
  .faq-area .single-faq {
    margin-bottom: 45px;
  }
  .faq-area .heading {
    font-size: 15px;
    line-height: 25px;
  }
  .brand-area .section-title.align-left {
    padding-right: 0;
    margin-bottom: 40px !important;
  }
  .latest-news-area .section-title {
    margin-bottom: 10px;
  }
  .latest-news-area .single-news {
    margin-top: 30px;
  }
  .post-details .post-meta li {
    margin-bottom: 8px;
  }
  .post-details p {
    margin: 20px 0;
  }
  .post-image .blog-inner-big-img {
    margin-bottom: 1.5rem !important;
  }
  .post-comments .comments-list li.children {
    margin-left: 0 !important;
  }
  .post-comments .comments-list li .comment-img img {
    max-width: 70px;
    max-height: 70px;
  }
  .post-comments .comments-list li .comment-desc .desc-top .reply-link {
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    padding: 8px 25px;
    position: relative;
    margin-top: 15px;
  }
  .post-comments .comments-list li {
    padding-left: 100px;
  }
  .latest-news-area.blog-list {
    padding-top: 20px;
  }
  .blog-list .single-news {
    margin-bottom: 0 !important;
  }
  .sidebar {
    margin-top: 30px;
  }
  .sidebar .widget.search-widget form input {
    padding: 0 80px 0 20px;
  }
  .sidebar .widget.social-widget ul li {
    margin-bottom: 10px;
  }
  .contact-area .contact-address-wrapper {
    padding-right: 0;
  }
  .contact-area .inner-section-title h2 {
    font-weight: 700;
    font-size: 28px;
  }
  .sidebar.service-sidebar .service-category > li > a {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    padding: 10px 15px;
  }
  .sidebar.service-sidebar .service-category {
    padding: 30px;
  }
  .sidebar.service-sidebar .service-docs {
    padding: 30px;
  }
  .sidebar.service-sidebar .service-quote {
    padding: 30px;
  }
  .adv-banner {
    padding: 30px;
  }
  .post-details .post-title {
    line-height: 30px;
  }
  .post-details .post-title a {
    font-size: 24px;
    font-weight: 600;
  }
  .blog-middle-image {
    margin-bottom: 20px;
  }
  .blog-single .sidebar {
    margin-top: 30px;
  }
  .map-section {
    background-color: #fff;
    margin-top: 50px;
    padding-bottom: 50px !important;
    height: auto;
  }
  .map-section iframe {
    height: 300px !important;
  }
  .brand-list {
    border: none;
  }
  .brand-list:before {
    display: none;
  }
  .brand-list li {
    border: 1px solid #eee;
  }
  .brand-list li a {
    border: none;
  }
  .newsletter-area .mini-call-action {
    margin-top: 30px;
  }
  .newsletter-area .subscribe-text input {
    width: 100%;
  }
  .newsletter-area .subscribe-text h6 {
    color: #fff;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .newsletter-area .subscribe-text .button {
    margin-top: 10px;
    margin-left: 0;
  }
  .newsletter-area .mini-call-action {
    height: auto;
  }
  .error-page .error-image img {
    width: 90%;
  }
  .error-page .error-text {
    margin-top: 50px !important;
    padding: 0 !important;
    text-align: center !important;
  }
  .error-page .error-text h2 {
    font-size: 25px !important;
  }
  .error-page .error-text h2 span {
    font-size: 22px !important;
  }
  .mail-success .success-image img {
    width: 90%;
  }
  .mail-success .siccess-text {
    margin-top: 50px;
    padding: 0 !important;
    text-align: center !important;
  }
  .mail-success .siccess-text h2 {
    font-size: 25px !important;
  }
  .mail-success .siccess-text h2 span {
    font-size: 22px !important;
  }
  .footer .footer-middle {
    padding-bottom: 60px;
    padding-top: 30px;
  }
  .footer .f-about p {
    padding-right: 80px;
  }
  .footer .single-footer {
    margin-top: 30px;
  }
}

/*======================================
	Contact CSS
========================================*/
.contact-us {
  position: relative;
  background-color: #fff;
  padding-bottom: 0;
}

.contact-us .contact-head {
  background: #fff;
  border-radius: 7px;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 30px rgba(111, 111, 111, 0.1);
  box-shadow: 0 10px 30px rgba(111, 111, 111, 0.1);
  position: relative;
  z-index: 5;
}

.contact-us .title {
  margin-bottom: 30px;
}

.contact-us .contant-inner-title {
  margin-bottom: 45px;
}

.contact-us .contant-inner-title h4 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #fff;
  text-transform: capitalize;
}

.contact-us .contant-inner-title p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 23px;
  margin-top: 10px;
  display: block;
}

.contact-us .single-head {
  padding: 50px;
  height: 100%;
  background: #3763eb;
  position: relative;
  z-index: 5;
  overflow: hidden;
}

.contact-us .single-info {
  text-align: left;
  margin-bottom: 16px;
  padding-left: 40px;
  position: relative;
}

.contact-us .single-info i {
  color: #fff;
  font-size: 18px;
  display: inline-block;
  margin-right: 20px;
  position: absolute;
  left: 0;
  top: 2px;
}

.contact-us .single-info ul {
  display: inline-block;
}

.contact-us .single-info ul li:last-child {
  margin-bottom: 0;
}

.contact-us .single-info ul li {
  color: #fff;
  font-weight: 500;
  display: inline-block;
  font-size: 13px;
}

.contact-us .single-info ul li a {
  font-weight: 500;
  color: #fff;
  display: inline-block;
  font-size: 13px;
}

.contact-us .single-info ul li a:hover {
  color: #fff;
}

.contact-us .contact-social {
  display: block;
  margin-top: 65px;
}

.contact-us .contact-social h5 {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.contact-us .contact-social ul {
  display: inline-block;
  position: relative;
  left: -9px;
  margin-top: 15px;
}

.contact-us .contact-social ul li {
  display: inline-block;
  margin-right: 5px;
}

.contact-us .contact-social ul li:last-child {
  margin-right: 0;
}

.contact-us .contact-social ul li a {
  color: #fff;
  font-size: 17px;
  position: relative;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  display: block;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow: hidden;
}

.contact-us .contact-social ul li a span {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -15px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact-us .contact-social ul li a:hover .icon-1 {
  top: -15px;
}

.contact-us .contact-social ul li a .icon-2 {
  top: 50px;
}

.contact-us .contact-social ul li a:hover .icon-2 {
  top: 15px;
}

.contact-us .contact-social ul li a:hover {
  color: #fff;
}

.contact-us .single-info .title {
  margin-bottom: 10px;
  font-weight: 500;
  color: #fff;
  font-size: 18px;
}

.contact-us .single-info .title span {
  display: block;
  font-size: 14px;
  margin-top: 8px;
  font-weight: 500;
}

.contact-us .form-main {
  padding: 50px 50px 50px 30px;
}

.contact-us .form .form-group {
  margin-bottom: 15px;
  display: block;
}

.contact-us .form .form-group input {
  height: 55px;
  line-height: 55px;
  width: 100%;
  border: 1px solid #e6e2f5;
  padding: 0px 20px;
  color: #333;
  border-radius: 0px;
  font-weight: 400;
  border-radius: 5px;
}

.contact-us .form .form-group textarea {
  height: 180px;
  width: 100%;
  border: 1px solid #e6e2f5;
  padding: 15px 20px;
  color: #333;
  border-radius: 0px;
  resize: none;
  font-weight: 400;
  border-radius: 5px;
}

.contact-us .form .button {
  margin: 0;
}

.contact-us .form .button .btn {
  height: 50px;
  border: none;
}

.map-section {
  background-color: #fff;
  margin-top: 50px;
  padding-bottom: 100px;
}

.map-section .map-container {
  -webkit-box-shadow: 0 10px 30px rgba(111, 111, 111, 0.1);
  box-shadow: 0 10px 30px rgba(111, 111, 111, 0.1);
  padding: 20px;
  border-radius: 7px;
}

/*======================================
	End Contact CSS
========================================*/
/*======================================
	Error 404 CSS
========================================*/
.error-page {
  text-align: center;
  background: #fff;
  border-top: 1px solid #eee;
}

.error-page .error-text {
  display: inline-block;
  text-align: left;
  margin-top: 80px;
  padding-left: 50px;
}

.error-page .error-text h2 {
  font-size: 30px;
  display: block;
  margin-bottom: 30px;
  color: #081828;
  font-weight: 700;
}

.error-page .error-text h2 span {
  color: #3763eb;
  display: block;
  margin-bottom: 10px;
  font-size: 25px;
}

.error-page .error-text p {
  display: block;
  margin-bottom: 30px;
}

.error-page .search-form {
  width: 100%;
  position: relative;
}

.error-page .search-form input {
  width: 400px;
  height: 50px;
  padding: 0px 78px 0 30px;
  border: none;
  background: #f6f6f6;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  font-weight: 400;
  font-size: 14px;
}

.error-page .search-form input:hover {
  padding-left: 35px;
}

.error-page .search-form .btn {
  width: 80px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  background: #4353ff;
  display: inline-block;
  position: relative;
  top: -2px;
}

.error-page .search-form .btn i {
  font-size: 16px;
}

.error-page .search-form .btn:hover {
  background: #333;
}

.free-version-banner {
  position: relative;
  background: #333;
  background-image: url('../images/free-version/free-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

.free-version-banner::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background-color: #3763eb;
  left: 0;
  top: 0;
  opacity: 0.9;
}

.free-version-banner .section-title {
  margin: 0;
  padding: 0;
  text-align: center;
}

.free-version-banner .section-title h2 {
  padding-bottom: 15px;
}

.free-version-banner .section-title h2::before {
  background-color: #fff;
}

.free-version-banner .button {
  z-index: 5;
  margin-top: 40px;
}

.free-version-banner .button .btn {
  background-color: #fff;
  color: #3763eb;
}
